.info-cooperado-content {
    display: flex;
}

.card {
    background-color: #fff;
    margin-right: 16px;
    min-width: 250px;
    min-height: 120px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ml16 {
    margin-left: 16px;
}

.card-div {
    display: flex; 
    align-items: center;
}